
{% include 'header.html' %}

            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <!-- <div class="page-links">
                            <a href=# class="active">Login/</a><a href=#>Register</a>
                        </div> -->
                        <div class="container">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-7  ">
                            <h2>Login</h2>
                                {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        <form method="POST" action=''>
                        {% csrf_token %}
                            <input class="form-control" type="text" name="username" placeholder="username" required><br/>
                            <input class="form-control" type="password" name="password" placeholder="Password" required><br/>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button> <a href="user/password_reset/">Forget password?</a>
                            </div>
                        </form>
                    
                        <div class="other-links">
                            <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
      

{% include 'footer.html' %}