{% include "user/header.html" %}
{% load static %}

       <!-- end header here -->
      <!-- banner-area start here -->
      <div class="banner-area">
         <div class="container-fluid nopadding">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active banner-area">
                     <img class="d-block w-100 img-fluid" src="/static/images/banner.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item banner-area">
                     <img class="d-block w-100 img-fluid" src="/static/images/banner-2.jpg" alt="Second slide">
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
      <!-- banner-area ends here -->
      <!-- kids-area start here -->
      <div class="kids-area mid-ads-home">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 girls-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/slider1.jpg"></a>
                  <div class="boys-content-area">
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 boys-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/slider3.jpg"></a>
                  <div class="girls-content-area">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- kids-area start here -->
      <!-- new-products area start here -->
      <!-- <div class="new-products-area-section">
         <div class="container">
            <div class="mt-5">
               <div class="row">
                  <div class="col-md-12">
                     <h2>Today's Deals <span><a href="{{ product.get_absolute_url }}">See all deals</a></span></h2>
                  </div>
               </div>
              {% for product in products %}
               <div class="new-products-area pb-0">
                  
                  <div class="col-12">
                     
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <a href="{{ product.get_absolute_url }}"></a>
                           <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                        </a>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                          

                           <p><span>{{ product.price }} &nbsp; </span> {{ product.stock }}<i class="flaticon-shopping-cart"></i> </p>
                  
                        </div>                                     
                  </div>                 
               </div>
               {% endfor%}
             </div>
          </div>
      </div>
         
                  
                   <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/2.jpg">
                           <div class="products-details">
                              <p>Red Party Wear Frock</p>
                              <div class="rating-point">
                                 <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                 </ul>
                              </div>
                              <h3> <span> $ 33.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/3.jpg">
                           <p>Ladies frock</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/4.jpg">
                           <p>Ladies Designer Gown</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/5.jpg">
                           <p>Partywear One Piece</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/6.jpg">
                           <p>Western Dress</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="new-products-area">
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/7.jpg">
                           <p>Man's T-shirts</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/8.jpg">
                           <p>Shirts for Man</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/9.jpg">
                           <p>Man's Kot</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/10.jpg">
                           <p>Man's Jacket</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/11.jpg">
                           <p>Blue Funky Jean</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/6.jpg">
                           <p>Western Dress</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
               </div> <!---->
           
      
      <!-- new-products area ends here -->
      <!-- kids-area start here -->
      <!--<div class="kids-area mid-ads-home">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 girls-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/for-girls.jpg"></a>
                  <div class="boys-content-area">
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 boys-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/for-boys.jpg"></a>
                  <div class="girls-content-area">
                  </div>
               </div>
            </div>
         </div>
      </div> -->
      <!-- kids-area start here -->
      <div class="clearfix"></div>
      <!-- new-products area start here -->


      
      <div class="new-products-area-section">
         <div class="container">
            <div class="col-md-3-new">
               <div class="col-12" style="width: 100%; display: inline-block;">
                     <a href="all-products.html" tabindex="0">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                           <p>Girls Stylish Frock</p>
                           <div class="rating-point">
                              <ul>
                                 <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                 <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                 <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                 <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                 <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                              </ul>
                           </div>
                           <h3> <span>$ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-md-3-new">
                     <div class="col-12" style="width: 100%; display: inline-block;">
                           <a href="all-products.html" tabindex="0">
                              <div class="slider-img">
                                 <i class="flaticon-fill-like"></i>
                                 <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                                 <p>Girls Stylish Frock</p>
                                 <div class="rating-point">
                                    <ul>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                    </ul>
                                 </div>
                                 <h3> <span>$ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                              </div>
                           </a>
                        </div>
                     </div>
                     <div class="col-md-3-new">
                           <div class="col-12" style="width: 100%; display: inline-block;">
                                 <a href="all-products.html" tabindex="0">
                                    <div class="slider-img">
                                       <i class="flaticon-fill-like"></i>
                                       <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                                       <p>Girls Stylish Frock</p>
                                       <div class="rating-point">
                                          <ul>
                                             <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                             <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                             <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                             <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                             <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                          </ul>
                                       </div>
                                       <h3> <span>$ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                                    </div>
                                 </a>
                              </div>
                           </div>
                           <div class="col-md-3-new">
                                 <div class="col-12" style="width: 100%; display: inline-block;">
                                       <a href="all-products.html" tabindex="0">
                                          <div class="slider-img">
                                             <i class="flaticon-fill-like"></i>
                                             <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                                             <p>Girls Stylish Frock</p>
                                             <div class="rating-point">
                                                <ul>
                                                   <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                                   <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                                   <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                                   <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                                   <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                                </ul>
                                             </div>
                                             <h3> <span>$ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
            </div>
      </div>
      <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                    <div class="leftbar p-r-20 p-r-0-sm">
                        <!--  -->
                        <h4 class="m-text14 p-b-7">
                            Categories
                        </h4>
                        <ol class="list-unstyled">
                            <li {% if not category %} class="active"{% endif %}><a href="{% url 'app_ecommerce:product_list' %}">All</a></li>
                          {% for c in categories %}
              
                            <li {% if category.slug == c.slug %} class="active"{% endif %}>
                                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            </li>
                          {% endfor %}
                        </ol>  
                        </ul>
                
                        
                    </div>
                </div>

      

      <div class="row">
                    {% for product in products %}
                    <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                        <!-- Block2 -->
                        <div class="col-md-3-new">
                            <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                <div class = "block2-img2" >
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." height="290" width="190">
                                    </a>
                                </div>
                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>
                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                                <!-- Button -->
                                                <a href="{{ product.get_absolute_url }}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">Add to cart</a>

                                        </div>
                                        
                                    </div>
                                 
                            </div>

                            <div class="block2-txt p-t-20">
                                <b>
                                <a href="" class="block2-name dis-block s-text3 p-b-5" style="font-style:oblique;font-size:16px">
                                     {{ product.name }} 
                                </a>
                                </b>	
                                <span class="block2-price m-text6 p-r-5">
                                  &#8377; {{ product.price }}
                                </span>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!--end row-->


       <div class="new-products-area-section">
         <div class="container">
            <div class="mt-5">
               <div class="row">
                  <div class="col-md-12">
                     <h2>Today's Deals <span><a href="{{ product.get_absolute_url }}">See all deals</a></span></h2>
                  </div>
               </div>

               <div class="col-md-3-new">
                     {% for product in products %}
                     <div class="col-12" style="width: 100%; display: inline-block;">
                           <a href="{{ product.get_absolute_url }}" tabindex="0">
                              <div class="slider-img">
                                 <i class="flaticon-fill-like"></i>
                                 <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                                 <a href="{{ product.get_absolute_url }}"><p>{{ product.name }}</p></a>
                                 <div class="rating-point">
                                    <ul>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                       <li><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fa" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fa fa-star"></i> --></li>
                                    </ul>
                                 </div>
                                 <h3> <span>{{ product.price }}$  &nbsp; </span> <i class="flaticon-shopping-cart"></i> </h3>
                              </div>
                           </a>
                        </div>
                        {% endfor %}
                     </div>

               <!-- <div class="new-products-area">
                 {% for product in products %}
                  <div class="col-12">
                     
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <a href="{{ product.get_absolute_url }}">
                           <img class="img-fluid" alt="" src="{% if product.image %} {{ product.image.url }} {% endif %}">
                           </a>
                           <a href="{{ product.get_absolute_url }}"><p>{{ product.name }}</p></a>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> {{ product.price }}$  &nbsp; </span>  <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     
                  </div>
                  {% endfor %}
               </div> -->
            </div>
         </div>
      </div> 
      <!-- new-products area ends here -->
      <!-- new-products area start here -->
      <!-- <section id="shop-category-section" class="new-products-area-section related-product">
      <div class="container">
         <div class="mt-5">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2>Shop By Categories</h2>
               </div>
            </div>
            <div class="main-cate-slider">
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/10.jpg">
                        <p>Man's Jacket</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/11.jpg">
                        <p>Blue Funky Jean</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/6.jpg">
                        <p>Western Dress</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/11.jpg">
                        <p>Blue Funky Jean</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/11.jpg">
                        <p>Blue Funky Jean</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section> -->
      <!-- new-products area ends here -->
      <!-- footer-area start here -->
     {% include "user/footer.html" %}

      <!-- footer-area ends here -->
     
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="login-popup">
                     <img alt="" class="img-fluid  popup-logo" src="/static/images/logo-signup.png">
                     <h3>Sign In</h3>
                     <form>
                        <div class="form-group row">
                           <label class="col-sm-2 col-md-2"><img alt="" src="/static/images/user-icon.png"></label>
                           <div class="col-sm-9 col-md-9">
                              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="User Name / Email ID">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-2 pass"><img alt="" src="/static/images/password-icon.png"></label>
                           <div class="col-sm-9">
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        <span class="forgot"><a href="forgot-password.html">Forgot Password?</a></span>
                        <br>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <br>
                        <p>Don’t Have an account yet? <a href="#">Sign Up</a></p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- pop-up -->
      <script src="/static/js/jquery.min.js"></script>      
      <!-- start bootstrap 4.1 scripts -->
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- end bootstrap 4.1 scripts -->
      <!-- slick-slider -->
      <script src="/static/js/slick.min.js"></script>
      <!-- slick slider -->
      <!-- custom-js -->
      <script src="/static/js/custom.js"></script>
      <!-- custom-js -->
      <!-- font-awesome         -->
      <script src="/static/js/font-awesome.js"></script>
      <!-- font-awesome         -->
   </body>
</html>
<!-- banner-area ends here -->
