{% include "user/header.html" %}

       <!-- end header here -->
      <!-- banner-area start here -->
      <div class="banner-area">
         <div class="container-fluid nopadding">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active banner-area">
                     <img class="d-block w-100 img-fluid" src="/static/images/banner.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item banner-area">
                     <img class="d-block w-100 img-fluid" src="/static/images/banner-2.jpg" alt="Second slide">
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </div>
      <!-- banner-area ends here -->
      <!-- kids-area start here -->
      <div class="kids-area mid-ads-home">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 girls-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/slider1.jpg"></a>
                  <div class="boys-content-area">
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 boys-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/slider3.jpg"></a>
                  <div class="girls-content-area">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- kids-area start here -->
      <!-- new-products area start here -->
      <div class="new-products-area-section">
         <div class="container">
            <div class="mt-5">
               <div class="row">
                  <div class="col-md-12">
                     <h2>Today's Deals <span><a href="all-products.html">See all deals</a></span></h2>
                  </div>
               </div>
               <div class="new-products-area pb-0">
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/1.jpg">
                           <p>Girls Stylish Frock</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span>$ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/2.jpg">
                           <div class="products-details">
                              <p>Red Party Wear Frock</p>
                              <div class="rating-point">
                                 <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                 </ul>
                              </div>
                              <h3> <span> $ 33.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/3.jpg">
                           <p>Ladies frock</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/4.jpg">
                           <p>Ladies Designer Gown</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/5.jpg">
                           <p>Partywear One Piece</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/6.jpg">
                           <p>Western Dress</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="new-products-area">
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/7.jpg">
                           <p>Man's T-shirts</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/8.jpg">
                           <p>Shirts for Man</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/9.jpg">
                           <p>Man's Kot</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/10.jpg">
                           <p>Man's Jacket</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/11.jpg">
                           <p>Blue Funky Jean</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/6.jpg">
                           <p>Western Dress</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- new-products area ends here -->
      <!-- kids-area start here -->
      <div class="kids-area mid-ads-home">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 girls-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/for-girls.jpg"></a>
                  <div class="boys-content-area">
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 boys-area">
                  <a href="#"><img class="img-fluid" alt="" src="/static/images/for-boys.jpg"></a>
                  <div class="girls-content-area">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- kids-area start here -->
      <div class="clearfix"></div>
      <!-- new-products area start here -->
      <div class="new-products-area-section">
         <div class="container">
            <div class="mt-5">
               <div class="row">
                  <div class="col-md-12">
                     <h2>Today's Deals <span><a href="all-products.html">See all deals</a></span></h2>
                  </div>
               </div>
               <div class="new-products-area">
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/7.jpg">
                           <p>Man's T-shirts</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/8.jpg">
                           <p>Shirts for Man</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/9.jpg">
                           <p>Man's Kot</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/10.jpg">
                           <p>Man's Jacket</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/11.jpg">
                           <p>Blue Funky Jean</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
                  <div class="col-12">
                     <a href="all-products.html">
                        <div class="slider-img">
                           <i class="flaticon-fill-like"></i>
                           <img class="img-fluid" alt="" src="/static/images/6.jpg">
                           <p>Western Dress</p>
                           <div class="rating-point">
                              <ul>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                                 <li><i class="fa fa-star"></i></li>
                              </ul>
                           </div>
                           <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- new-products area ends here -->
      <!-- new-products area start here -->
      <section id="shop-category-section" class="new-products-area-section related-product">
      <div class="container">
         <div class="mt-5">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2>Shop By Categories</h2>
               </div>
            </div>
            <div class="main-cate-slider">
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/10.jpg">
                        <p>Man's Jacket</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/11.jpg">
                        <p>Blue Funky Jean</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/6.jpg">
                        <p>Western Dress</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/11.jpg">
                        <p>Blue Funky Jean</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
               <div class="col-12">
                  <a href="all-products.html">
                     <div class="slider-img">
                        <i class="flaticon-fill-like"></i>
                        <img class="img-fluid" alt="" src="/static/images/11.jpg">
                        <p>Blue Funky Jean</p>
                        <div class="rating-point">
                           <ul>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                              <li><i class="fa fa-star"></i></li>
                           </ul>
                        </div>
                        <h3> <span> $ 23.33 &nbsp; </span> $ 15.33 <i class="flaticon-shopping-cart"></i> </h3>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
      <!-- new-products area ends here -->
      <!-- footer-area start here -->
     {% include "user/footer.html" %}

      <!-- footer-area ends here -->
     
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="login-popup">
                     <img alt="" class="img-fluid  popup-logo" src="/static/images/logo-signup.png">
                     <h3>Sign In</h3>
                     <form>
                        <div class="form-group row">
                           <label class="col-sm-2 col-md-2"><img alt="" src="/static/images/user-icon.png"></label>
                           <div class="col-sm-9 col-md-9">
                              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="User Name / Email ID">
                           </div>
                        </div>
                        <div class="form-group row">
                           <label class="col-sm-2 pass"><img alt="" src="/static/images/password-icon.png"></label>
                           <div class="col-sm-9">
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                           </div>
                        </div>
                        <span class="forgot"><a href="forgot-password.html">Forgot Password?</a></span>
                        <br>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <br>
                        <p>Don’t Have an account yet? <a href="#">Sign Up</a></p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- pop-up -->
      <script src="/static/js/jquery.min.js"></script>      
      <!-- start bootstrap 4.1 scripts -->
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- end bootstrap 4.1 scripts -->
      <!-- slick-slider -->
      <script src="/static/js/slick.min.js"></script>
      <!-- slick slider -->
      <!-- custom-js -->
      <script src="/static/js/custom.js"></script>
      <!-- custom-js -->
      <!-- font-awesome         -->
      <script src="/static/js/font-awesome.js"></script>
      <!-- font-awesome         -->
   </body>
</html>
<!-- banner-area ends here -->