{% extends "base.html" %}
{% load class_name %}
{% block content %}

<div class='row title-row my-5'>
    <div class='col-12 py-0'>
        <h3 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h3>
    </div>
</div>
        
        
{% for object in object_list %}
    {% with object|class_name as klass %}
      {% if klass == 'Post' %}
           <div class='row'>
             <div class='col-12'>
                Blog post: <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
            </div>
          </div>
          {% endif %}
        {% endwith %}
        {% endfor %}